In [5]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sklearn
import sklearn.metrics

### Overview

You are provided with a dataframe of validation scores from two models (A and B) that were trained to identify defects in a dataset of manufactured goods. You will use the dataframe to answer the questions in the notebook.

Assumptions:
- A higher score means the model believes the sample is more anomalous.
- 0 is the lowest possible score (and least anomalous)
- A positive label (anomalous) is 1
- A negative label (normal) is 0

You are free to use the internet for documentation / debugging

In [28]:
valid_df = pd.read_csv("scores_valid.csv")
valid_df

       score_a    score_b  label
0     5.882112   2.983324      0
1     0.904259   8.706213      0
2     5.292987   5.955916      0
3    14.254748   3.215533      0
4     6.711388   9.690617      0
..         ...        ...    ...
575  14.559980  15.271662      1
576  13.227753  13.530864      1
577  14.670447  13.360077      1
578  14.076589  15.169437      1
579  14.420714  17.061817      1

[580 rows x 3 columns]

#### 1. Find the samples that were considered most and least anomalous for each model

#### 2. Plot the scores as a histogram separating the normal and anomalous samples by color. What can you say about the shape of the distribution?

#### 3. Which model (A or B) is better at separating normal samples from anomalous ones? Make this determination quantitatively.

#### 4. Determine the threshold for each model to optimize the true positive rate (TPR / recall) while not allowing the false positive rate (FPR) to exceed 2%

#### 5. You are now provided with the scores on the training set. Determine which of the two models is overfitting more.

In [29]:
train_df = pd.read_csv("scores_train.csv")
train_df

        score_a    score_b  label
0      4.990756   9.211720      0
1      3.470515   6.695950      0
2      8.887255   4.485994      0
3      1.250734   8.110968      0
4      0.897766   2.015192      0
...         ...        ...    ...
1155  16.515571  11.410800      1
1156  15.709676   9.402707      1
1157  15.253008  14.580895      1
1158  14.910236  15.525892      1
1159  16.265897  12.304183      1

[1160 rows x 3 columns]

#### 6. How might you create an ensemble of the two models?